@charset "utf-8";
/* CSS Document */

body p{
	font-size: 22px;
}

#centerDiv{
	transform: translateY(25%);
	display: block;
	border-color: blue;
	text-align: center;
}

#centerDiv img{
	padding-bottom: 50px;
}